[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
[push]
	default = current
[user]
	name = Oliver Benns
	email = oliver@benns.co
[core]
	excludesfile = /Users/oliver/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/oliver/.stCommitMsg
